.movie-poster {
  width: 300px;
}

.movie-house-name {
  width: 150px;
}

.tixets-h {
  border-bottom: 0.05rem solid rgb(0, 0, 0);
}

.movie-house-tickets {
  border-bottom: 0.05rem solid rgb(0, 0, 0);
}