.date-picker-wrapper {
  display: flex;
  align-items: center;
}

.data-picker {
  border-radius: 5px;
  padding: 5px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filter-form {
  display: flex;
  align-items: center;
}

.reset {
  width: auto;
}

span {
  margin: 5px 0;
}

.react-datepicker__input-container:first-child {
  width: 160px;
}

@media (max-width: 600px) {
  .input-for-date {
    margin-bottom: 10px;
  }
}