.booking-info-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-info {
  position: relative;
  background: white;
  width: 80%;
  height: 80%;
  overflow: auto;
}

.booking-info-block {
  width: 100%;
}

.price {
  margin-right: 10px !important;
  align-items: center;
  justify-content: space-between;
}

.header-info {
  padding: 20px 20px 0;
}

.movie-house-title {
  font-size: 1.2rem;
}

.seats {
  padding: 50px 0;
  margin: 20px;
  border-top: 0.05rem solid black;
  border-bottom: 0.05rem solid black;
}

.booked-seat {
  width: 20px;
  height: 20px;
  background: rgb(158, 158, 158);
  border: 0.05rem solid black;
}

.empty-seat {
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  border: 0.05rem solid black;
}

.chosen-seat {
  width: 20px;
  height: 20px;
  background: rgb(29, 221, 3);
  border: 0.05rem solid black;
}

.close-window {
  position: absolute;
  top: 1px;
  right: 3px;
  font-size: 40px;
  cursor: pointer;
}

.hint {
  padding: 0 20px;  
}

.screen {
  text-align: center;
  border: 0.1rem solid black;
  line-height: 40px;
  color: white;
  background: black;
}

@media (max-width: 700px) {
  .ticket-price-info {
    flex-direction: column;
  }
  
  .tickets-price-wrapper {
    flex-direction: column;
  }

  .add-tickets-button {
    margin-top: 10px;
  }

  .booking-info {
    height: 82%;
  }

  .seats {
    padding: 30px 0;
  }

  .hint {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .hint {
    height: 70px;
    flex-wrap: wrap;
  }
}