.header-navbar {
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.header-navbar-logo {
  width: 55px;
}

.header-navbar-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li:nth-child(2) {
  margin-left: 25px;
}

.header-navbar-nav a {
  font-size: 1.5rem;
}

.cart-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background: transparent;
  border: 0.05rem solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  color:rgb(0, 0, 0);
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.cart-button-txt {
  margin-left: 5px;
}

.cart-button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.cart-button:focus {
  outline: none;
}

.filters {
  display: flex;
}