ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.movie-houses-filter-block {
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 0px;
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.705);
  color: white;
}

